body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Colore di sfondo leggermente grigio */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Colore di sfondo bianco */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Colore testo grigio */
}

input[type="number"],
input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Bordo sottile grigio */
    border-radius: 4px;
    box-sizing: border-box; /* Per includere il padding nel calcolo della larghezza */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff007f; /* Rosa */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #d6006b; /* Rosa più scuro al passaggio del mouse */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#tabellaSquadre {
    margin-top: 40px;
}

/* Media query per adattare la larghezza della tabella su dispositivi di piccole dimensioni */
@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
}
